.FounderMain {
  background-color: #e5e5e5;
  height: 100vh;
  overflow: auto;
}

.hr {
  width: 100%;
  display: flex;
  justify-content: center;
  border-bottom: 1px solid #5e81f4;
}
.hr h1 {
  font-size: 32px;
  color: #5e81f4;
  padding-bottom: 0;
  margin-bottom: 0;
}
.founderMainWrap h2 {
  font-size: 28px;
  margin-top: 20px;
  margin-bottom: 20px;
}
.item {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  background-color: white;
  padding: 20px;
  border: 1px solid #e5e5e5;
  border-radius: 5px;
}
.name {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.name p {
  margin: 0;
  padding: 0;
  color: #b9b9c3;
}
.name h3 {
  font-size: 18px;
  padding: 0;
  margin: 0;
  color: #6e6b7b;
}
.karta,
.founderDate {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: #6e6b7b;
}
.founderPayment {
  color: #6e6b7b;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.founderButtons {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.founderButtons button {
  color: white;
  padding: 5px 10px;
  border-radius: 5px;
  outline: none;
  border: none;
  font-size: 10px;
}
#btn7,
#btn2 {
  border: 1px solid #e5e5e5;
  cursor: default;
}

#btn2:hover {
  color: #bb2f2f !important;
  border: 1px solid #bb2f2f;
  background: #fff !important;
}
.false {
  width: 100%;
  text-align: center;
  height: 300px;
  align-items: center;
  display: flex;
  justify-content: center;
}
.modalTasdiq {
  text-align: center;
  font-size: large;
}
.mbtn {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 90%;
  padding: 10%;
}
.mbtn button {
  outline: none;
  background-color: #e5e5e5;
  padding: 10px 20px;
  border-radius: 8px;
  border: none;
}
.item_head {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  background-color: #f3f2f7;
  padding: 20px;
  border: 1px solid #e5e5e5;
  border-radius: 5px;
}
.waitCheck {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.waitCheck i {
  font-size: 28px;
  color: #00e732;
}

@media (max-width: 880px) {
  .groupWrap {
    overflow: auto;
  }
  .item {
    width: 900px;
  }
  .item_head {
    width: 900px;
  }
}
.groupWrap {
  width: 100%;
  overflow: auto;
}
.myflex {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 20px 0;
}
