@import url('https://fonts.googleapis.com/css2?family=Rampart+One&display=swap');

.FounderMain {
  background-color: #e5e5e5;
  height: 100vh;
  overflow: auto;
}
.founderMainWrap {
  padding: 62px;
  padding-top: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.hr {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid #3a3985;
}
.hr i {
  padding-right: 10px;
  color: #3a3985;
}
.hr h1 {
  font-size: 32px;
  color: #3a3985;
  padding-bottom: 0;
  margin-bottom: 0;
}
.founderMainWrap h2 {
  font-size: 28px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.stat_h4 {
  display: flex;
  width: 100%;
}
.stat_h4 h4 {
  font-size: 28px;
  margin-top: 20px;
  margin-bottom: 20px;
}
.stat_table h5 {
  font-size: 24px;
}

.stat_table h5 {
  margin-bottom: 10px;
}

.chart h1 {
  font-size: 24px;
  text-align: center;
  color: #293a4b;
}
h2 i {
  color: #d4af37;
}
.stat_ad {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
  justify-content: space-around;
  width: 100%;
}
.ad_item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 150px;
  margin: 20px;
  padding: 20px;
  background-color: #fff;
  border-radius: 12px;
  box-shadow: 0px 0px 30px rgba(10, 89, 141, 0.2);
}
.ad_item p {
  color: #fff;
}
.ad_item h1 {
  font-family: 'Rampart One', 'cursive';
  color: #384552;
}
.chart1 {
  width: 70%;
  margin: 0 auto;
}
.group_lists {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
  justify-content: center;
  width: 80%;
  margin: 0 auto;
}
.group_list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  background-color: rgba(0, 171, 85, 0.8);
  margin: 20px 10px;
  padding: 20px;
  border-radius: 10px;
  opacity: 0.8;
}
.group_list:hover {
  box-shadow: 0px 0px 10px rgba(10, 89, 141);
}
.num {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10px 0;
  flex-direction: column;
}

.name {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.name h1 {
  font-size: 28px;
  color: #fff;
}
.button {
  display: inline-block;
  padding: 0.75rem 1.25rem;
  border-radius: 10px;
  color: #3a3985;
  text-transform: uppercase;
  font-size: 1rem;
  letter-spacing: 0.15rem;
  transition: all 0.3s;
  overflow: hidden;
  border: none;
  outline: none;
  background-color: #fff;
}

.button:hover:before {
  width: 100%;
}
.group_list p {
  color: #fff;
  padding-top: 20px;
}
.mentor {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.hh2 {
  border-radius: 50%;
  width: 60px;
  height: 60px;
  border: none;
  font-size: 20px;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  color: #3a3985;
}
.calendar_director {
  background-color: #fff;
  margin-top: 20px;
  padding: 10px;
}
.myTable table,
.myTable td {
  border: 1px solid #8da1b5;
  padding: 20px;
}
.mytd {
  overflow-y: auto;
  height: 116px;
}
::-webkit-scrollbar {
  width: 3px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
.myTable table {
  width: 100%;
  margin: 20px auto;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  height: 100vh;
  overflow: auto;
}
.myTable tr {
  border-top: 1px solid #8da1b5;
}
.myTable {
  overflow: auto;
}
.myTable thead {
  background-color: rgba(94, 118, 134, 0.5);
  font-size: 18px;
}
.table_color {
  background-color: rgba(94, 118, 134, 0.2);
  font-size: 18px;
}

@media (max-width: 880px) {
  .founderMainWrap {
    padding: 5px;
    padding-bottom: 80px;
  }
  .myTable table,
  .myTable td,
  .myTable tr,
  .mytd {
    width: 100%;
  }
  .group_list {
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  .group_lists {
    margin-top: 20px;
    margin-left: 0;
    margin-right: 0;
    margin: 0 auto;
    grid-template-columns: 1fr;
  }
  .group_list p {
    padding-top: 0;
  }
}
.hr i {
  font-size: 30px !important;
}
.salary {
  width: 50%;
  height: auto;
  border-radius: 10px;
  margin: 60px auto;
  padding: 35px;
  box-shadow: 0 5px 25px #8da1b5;
}
.salary p {
  text-align: center;
  color: #fff;
}
.salary_buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 30px 0;
}
.button1 {
  display: inline-block;
  border-radius: 10px;
  color: #333;
  transition: all 0.3s;
  overflow: hidden;
  border: none;
  outline: none;
  padding: 10px 20px;
  margin: 5px !important;
  background-color: #fff;
  border-bottom: 1px solid #777;
  border-bottom-left-radius: 0 !important;
  border-bottom-right-radius: 0 !important;
  transition: all 0.3s;
}

.active {
  background-color: #5a98d0;
  color: white;
}
.di_table {
  overflow: auto;
}
.di_table td,
.di_table tr {
  text-align: center;
  border: 1px solid black;
}
.myDirectorTable {
  overflow: auto;
}
.dd_flex {
  display: flex;
}
.bgKalendar {
  background-color: #fff;
}
