.FounderMain {
  background-color: #e5e5e5;
  height: 100vh;
  overflow: auto;
}
.founderMainWrap {
  padding: 62px;
  padding-top: 10px;
}
.hr {
  width: 100%;
  display: flex;
  justify-content: center;
  border-bottom: 1px solid #5e81f4;
}
.hr h1 {
  font-size: 32px;
  color: #5e81f4;
  padding-bottom: 0;
  margin-bottom: 0;
}
.founderMainWrap h2 {
  font-size: 28px;
  margin-top: 20px;
  margin-bottom: 20px;
}
.founder_formik {
  width: 100%;
  height: auto;
  padding: 20px;
  box-shadow: 0px 0px 37px rgba(16, 112, 177, 0.2);
  background-color: white;
  border-radius: 10px;
  margin-top: 30px;
}
.flex {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  height: auto;
  padding-bottom: 20px;
}

.column_input {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  justify-content: center;
  margin-top: 30px;
}
.column_input p {
  text-align: left !important;
  margin: 0;
  margin-bottom: 3px;
  padding: 0;
  color: #8da1b5;
}
.flex input {
  width: 100%;
  padding: 15px;
  outline: none;
  border-radius: 10px;
  border: none;
  box-shadow: 0 5px 15px #b1bfcc;
}
.input_p {
  width: 100%;
  display: flex;
}
form input:focus {
  border: none;
}
.founder_input {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
  padding: 20px;
}
.founder_input input {
  width: 100%;
  padding: 15px;
  outline: none;
  border: 1px solid#8da1b5;
  border-radius: 10px;
}
.founder_input p {
  margin: 0;
  padding: 0;
  color: #8da1b5;
}
.form_bootom {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  padding: 30px 0;
}
.form_bootom p {
  margin: 0;
  padding: 0;
  color: #8da1b5;
}
.bottom_input {
  width: 40%;
}
.f_select {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.f_select select {
  width: 90%;
  padding: 15px;
  outline: none;
  border: 1px solid#8da1b5;
  border-radius: 10px;
}
.form_bootom input {
  width: 100%;
  padding: 15px;
  outline: none;
  border: 1px solid#8da1b5;
  border-radius: 10px;
}
.addUserButton button:hover {
  box-shadow: 0px 19px 27px rgba(90, 152, 208, 0.35);
}
.addUserButton {
  width: 100%;
  display: flex;
  justify-content: center;
}
.addUserButton button {
  background-color: #5a98d0;
  width: 320px;
  color: white;
  border-radius: 10px;
  margin: 30px auto;
  padding: 10px;
  outline: none;
  border: 1px solid #5a98d0;
  box-shadow: 0px 10px 17px rgba(90, 152, 208, 0.35);
}
.button {
  display: inline-block;
  border-radius: 10px;
  color: #333;
  transition: all 0.3s;
  overflow: hidden;
  border: none;
  outline: none;
  padding: 10px 5px;
  margin: 5px !important;
  background-color: #fff;
  border-bottom: 1px solid #999;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}
.button:after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  z-index: -2;
}

.button:hover:before {
  width: 100%;
}
.myInput1 {
  display: flex;
  flex-direction: column;
  width: 50%;
  align-items: center;
  justify-content: center;
}
.myInput1 input {
  width: 90%;
}
.check_wrap {
  display: flex;
  flex-wrap: wrap;
  margin: 10px;
  width: auto;
  height: auto;
}
.check_wrap label {
  padding: 10px;
  border: 1px solid #8da1b5;
  border-radius: 10px;
  margin: 5px 10px;
  background-color: rgba(0, 0, 0, 0.05);
  cursor: pointer;
}
.check_wrap label input {
  margin-right: 5px;
  cursor: pointer;
}
.mycheck_wrap {
  box-shadow: 0 5px 15px #b1bfcc;
  border-radius: 10px;
  margin: 20px;
  padding: 10px;
  margin-top: 40px;
}
.mycheck_wrap p {
  color: #8da1b5;
  margin-left: 20px;
}
.salary {
  width: 50%;
  height: auto;
  border-radius: 10px;
  margin: 60px auto;
  padding: 35px;
  box-shadow: 0 5px 25px #8da1b5;
}
.salary p {
  text-align: center;
  color: #8da1b5;
}
.salary_buttons {
  display: flex;
  align-items: center;
  justify-content: center;
}
.button1 {
  display: inline-block;
  border-radius: 10px;
  color: #fff;
  transition: all 0.3s;
  overflow: hidden;
  border: none;
  outline: none;
  padding: 5px 2px;
  margin: 5px !important;
  background-color: #5a98d0;
}

.active {
  background-color: #5a98d0;
  color: white;
}
.admin_teacher_select {
  margin: 40px auto;
  width: 100%;
}
.selects {
  box-shadow: 0 5px 15px #b1bfcc;
  border: none !important;
  outline: none;
}
.input_p p {
  color: #8da1b5;
  margin: 0;
  padding: 0;
}
@media (max-width: 880px) {
  .founderMainWrap {
    padding: 5px;
    padding-bottom: 80px;
  }
  .flex {
    flex-wrap: wrap;
  }
  .f_select {
    width: 100%;
  }
  .salary {
    width: 100%;
  }
}
.hr i {
  font-size: 30px !important;
  color: #3a3985 !important;
}
.hr h1 {
  color: #3a3985 !important;
}
.hr {
  border-bottom: 1px solid #3a3985 !important;
}
